[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pygments = "*"
jsonschema = "*"
requests-oauthlib = "*"
pytest-html = "*"
pydantic = "*"
datamodel-code-generator = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10.7"
